.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#chunkpanel {
  border: 1px solid #cdcdcd;
  padding: 5px;
}

#chunktitle {
  margin: 3px;
  border: 1px inset #cdcdcd;
  border-radius: 3px;
  background-color: #f9f9fb;
  padding: 3px;
}

#chunktitle:hover {
  border: 1px solid #000000;
  cursor: pointer;
  box-shadow: 0px 0px 0px 2px rgba(0, 144, 237, 0.4);
}

#chunktitle.select {
  margin: 3px;
  border: 2px solid #000000;
  border-radius: 3px;
  box-shadow:#61dafb
}

#chunktitleeye {
  border: 0px inset;
}
#chunkedit {
  text-align: center
}

#instructionlist {
  margin: 3px;
  border: 1px inset #cdcdcd;

  background-color: #f9f9fb;
  padding: 3px;

  height: 100%;
}

#instructionlist div#list {
  margin: 3px;
  border: 1px inset #cdcdcd;

  background-color: #f9f9fb;
  padding: 3px;

  height: 190px;
  overflow-y: auto;
}

#instructionpanel {
  margin: 3px;
  border: 1px inset #cdcdcd;

  background-color: #f9f9fb;
  padding: 3px;

  height: 100%;
}

#instruction:hover {
  cursor: pointer;
}
#instruction.select {
  background-color: #3a6aa8;
  color: #cdcdcd;
}

#originedit {

  border: 0px inset #cdcdcd;
  background-color: #f9f9fb
}


#chunkinfo {
  margin: 3px;
  border: 1px solid #cdcdcd;

  background-color: #f9f9fb;
  padding: 5px;

  height: 100%;
}

